# Operating system generated
.DS_Store
Thumbs.db

# IDE files
.idea
*.iml
*.suo
*.cache
*.localhistory

# Build artifacts
build/
dist/

# Dependency management
node_modules/
yarn-lock
package-lock.json

# Testing
coverage/

# IDE-specific files
# Visual Studio Code
.vscode/
