# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
budgeting-app-frontend/node_modules
budgeting-app-frontend/.pnp
budgeting-app-frontend/.pnp.js

# testing
budgeting-app-frontend/coverage

# production
budgeting-app-frontend/build

# misc
budgeting-app-frontend/.DS_Store
budgeting-app-frontend/.env.local
budgeting-app-frontend/.env.development.local
budgeting-app-frontend/.env.test.local
budgeting-app-frontend/.env.production.local

budgeting-app-frontend/npm-debug.log*
budgeting-app-frontend/yarn-debug.log*
budgeting-app-frontend/yarn-error.log*
